<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://annenkov.me:3306/a0080939_vexybot</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">a0080939_zzoorm</property>
        <property name="connection.password">ava2001</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="hibernate.connection.charSet">UTF-8</property>
        <property name="hbm2ddl.auto">create</property>
        <mapping class="su.vexy.vexybot.dao.Note"/>
        <mapping class="su.vexy.vexybot.dao.Notification"/>
        <mapping class="su.vexy.vexybot.dao.Chat"/>
    </session-factory>
</hibernate-configuration>